/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll invisible mais actif */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Scroll robuste */
html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}

